@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font: 20px "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#billard {
    border: 1px solid black;
}
